target/
bin/
.settings/
.project
.classpath

*.class
*.log

.idea/
*.iml

.vscode/

.DS_Store

# Eclipse workspace
.metadata/

swiggy-backend/target/
swiggy-backend/uploads/
swiggy-frontend/node_modules/
swiggy-frontend/dist/

application-local.properties